<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353274792412-91ilajg5clrq1cs67hbqk8pg4t1plkkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353274792412-91ilajg5clrq1cs67hbqk8pg4t1plkkl</string>
	<key>API_KEY</key>
	<string>AIzaSyD1x1CmuwEdIkrYkwqBGr7k-_Guc40VOBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>353274792412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.surfstudio.flutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353274792412:ios:c4c0307b647a34873b6719</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-template-prod.firebaseio.com</string>
</dict>
</plist>