//
//  common.xcconfig
//  Runner
//
//  Created by Артем Зайцев on 13/09/2019.
//  Copyright © 2019 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

identifier=ru.surfstudio.flutterTemplate
