.DS_Store
.dart_tool/

.packages
.pub/
*.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

build/
**/android/**/GeneratedPluginRegistrant.java
.flutter-plugins
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
