name: jitsi_meet_screen
description: Plugin to show JitsiMeetView as new native screen
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: ru.surf.jitsi_meet_screen
        pluginClass: JitsiMeetScreenPlugin
      ios:
        pluginClass: JitsiMeetScreenPlugin
